.sponsors-section {
    background-color: #fff;
    
    font-family: 'Work Sans', sans-serif;
    border-bottom: 20px solid black;
    
    
}

.sponsors-title {
    margin-top:40px ;
    text-align: left;
    font-Size: 90px;
    font-Weight: 900;
    background-Color: #FFCC00;
    font-Family: Work Sans;
    color: #000;
    display: inline-block;
    padding: 8px 5px;
    margin-Bottom: 40px;
    line-Height: 1;
}
.sponsors-title-container {
    font-Size: 90px;
    font-Weight: 900;
    background-Color: #FFCC00;
    font-Family: Work Sans;
    color: #000;
    display: inline-block;
    padding: 8px 5px;
    margin-Bottom: 40px;
    line-Height: 1;
}

.sponsors-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
}

.sponsors-logos img {
    max-height: 170px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.sponsors-logos img:hover {
    transform: scale(1.05);
}


@media (max-width: 1024px) {
    .sponsors-title {
        font-size: 70px;
    }
    
    .sponsors-logos {
        gap: 30px 15px;
    }
    
    .sponsors-logos img {
        max-height: 140px;
    }
}

@media (max-width: 768px) {
    .sponsors-section {
        border-bottom: 15px solid black;
    }
    .sponsors-title {
        margin-top: 20px;
        font-size: 60px;
        padding: 6px 12px;
        margin-bottom: 30px;
    }
    
    .sponsors-logos {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px 15px;
    }
    
    .sponsors-logos img {
        max-height: 100px;
    }
}
